<form [formGroup]="userForm" layout="row" layout-align="center center" (ngSubmit)="updateUser()">
  <h4>EDIT USER</h4>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input  matInput placeholder="Name" formControlName="userName" >
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>User Email</mat-label>
      <input  matInput placeholder="Email" formControlName="userEmail" >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>User Location</mat-label>
      <mat-select formControlName="userLocation" >
        <mat-option *ngFor="let location of locations" [value]="location">
          {{location}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>User Role</mat-label>
      <mat-select formControlName="userDesignation" >
        <mat-option *ngFor="let role of designation" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <div>&nbsp; &nbsp;
    <button mat-fab color="accent" [disabled]="!userForm.valid" type="submit" aria-label="Example icon button with a edit icon">
      <mat-icon>save</mat-icon>
    </button>
  </div>

</form>

